html {
    font-family: 'Roboto', sans-serif;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    line-height: 21px;
}

body {
    background-color: #111111;
    color: white;
}

/* header {
    position: fixed;
    top: 0;
    width: 100%;
} */

#nav {
    padding: 0;
}

#nav-brand {
    padding: 0;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.text-blue {
    color: #0d6efd;
}

.bg-mute {
    background-color: rgb(18,16,32);
}

.bg-offcanvas {
    background: linear-gradient(to bottom, #313b45 0%, #3393b8 100%);
}

.bg-trans {
    background-color: transparent!important;
}

.nav-link-active {
    color: #ffc107;
}

.nav-link:hover {
    color: #ffc107;
    /* border-bottom: 2px gold solid; */
}

.link-none {
    text-decoration: none!important;
    color: #fff;
}

.link-none:hover {
    color: #b5c3cb;
}

.visible {
    visibility: visible;
}

.carousel-control-prev-icon:hover, .carousel-control-next-icon:hover {
    background-color: #ffc107;
}

.carousel-item > a {
    text-decoration: none;
}

.carousel-item > a > p {
    font-size: 16px;
    line-height: 1.66;
    color: rgb(204, 183, 183);
    margin-bottom: 0;
}


.item .link-none img:hover {
    transition: 0.5s;
    -webkit-transform: scale(1.2);       
    cursor: pointer; 
}

.news-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
}

.divider-title {
    height: 4px;
    background-color: #ffc107;
    width: 80%;
    margin-left: 15px;
}

.comments {
    color: #fff;
    background-color: #000;
    display: inline-block;
    min-width: 17px;
    padding: 3px 4px 4px 5px;
    position: relative;
}

.comments::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 0;
    border-color: #000 transparent transparent transparent;
}

.big-item, .item{
    position: relative;
    overflow: hidden;
    color: #fff;
    height: 100%;
}

.big-item .link-none img {
    -webkit-transition: transform 0.5s ease-out;
    transition: transform 0.5s ease-out;
}

.shadow {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    opacity: .3;
    top: 0;
    left: 0;
    background: #545454;
    background: linear-gradient(0deg,#545454 0,rgba(0,0,0,0) 100%);
}

.content {
    position: absolute;
    width: 100%;
    background-color: rgba(0,0,0,.3);
    padding: 10px 18px 15px;
    bottom: 0;
    left: 0;
    z-index: 2;
}

.post-content p {
    margin-bottom: 26px;
    font-size: 15px;
    line-height: 26px;
}

.comment {
    font-size: 15px;
    line-height: 1px;
}

/* col-4 */
.divider-title-4 {
    position: relative;
    margin-top: 20px;
    height: 4px;
    background-color: #ffc107;
    width: 100%;
}

.divider-title-2 {
    position: absolute;
    height: 4px;
    background-color: #0d6efd;
    width: 20%;
}

.list-unstyled li {
    padding: 3px 0;
}

.list-unstyled li a {
    text-decoration: none;
    color: white;
}

.list-name {
    font-weight: 700;
    font-size: 14px;
    line-height: 2.1;
}

.list-number {
    margin-top: 4px;
    float: right;
    margin-right: 10px;
}



.list-second {
    border-color: #444444;
    border-width: 0 0 1px 0;
    border-style: dotted;
}

.insert-title .text {
    font-weight: 800;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.6px;
}

.mt-10 {
    margin-top: 135px;
}

.subtitle {
    position: absolute;
    color: #292736;
    font-size: 90px;
}

.insert-title .text span {
    position: absolute;
    padding: 65px 0;
}

.card-body .category {
    color: #b5c3cb;
    font-size: 10px;
    font-weight: 600;
    background-color: #222222;
}

.title-category {
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 22px;
}

.title-category h1 {
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
}

.title-category .category {
    color: #fff;
    font-size: 12px;
    padding: 3px 6px 4px 6px;
    font-weight: 600;
    background-color: #222222;
}

.link-none > .card-text {
    font-size: 15px;
    line-height: 1.3;
    font-weight: 500;
}

/* child */

.social-list {
    font-size: 11px;
    font-weight: bold;
    color: #fff;
    font-family: 'Open Sans', arial, sans-serif;
}

.social-list .box{
    margin-bottom: 14px;
}

.social-list .box .box-box span {
    padding: 0 5px;
}

.box {
    cursor: pointer;
}

.box:hover {
    background-color: #222222;
}

.box-facebook {
    background-color: #516eab;
}

.box-youtube {
    background-color: #eb4026;
}

.box-twitter {
    background-color: #29c5f6;
}

.info-name {
    font-size: 13px;
    font-weight: normal;
    line-height: 21px;
}

.like-post {
    border-radius: 3px;
    background: #1877f2;
    border: 1px solid #4267b2;
}

.like-post span {
    color: #fff;
    font-size: 11px;
}

.share {
    padding: 20px 0;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.share-post .sharing {
    color: black;
}

.sharing:hover {
    opacity: 0.8;
}

.share-post .sharing button[type="facebook"] {
    border-radius: 3px;
    background: #516eab;
    border: 1px solid #516eab;
}

.share-post .sharing button[type="twitter"] {
    border-radius: 3px;
    background: #29c5f6;
    border: 1px solid #29c5f6;
}

.share-post .sharing button span{
    color: #fff;
}

.member {
    margin-top: 20px;
}

.skills {
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills .rating {
    display: flex;
    margin: 10px 0;
    flex-direction: row-reverse;
}

.skills .rating input {
    position: relative;
    width: 20px;
    height: 30px;
    cursor: pointer;
    overflow: hidden;
    -webkit-appearance: none;
    appearance: none;
    letter-spacing: 0;
}

.skills .rating input::before {
    position: absolute;
    content: '\f005';
    font-family: fontAwesome;
    font-size: 20px;
    left: 11px;
    color: #fff;
    transition: 0.5;
}

.skills .rating input:nth-child(2n + 1)::before {
    right: 11px;
    left: initial;
}

.skills .rating input:hover ~ input::before,
.skills .rating input:hover::before, 
.skills .rating input:checked ~ input::before,
.skills .rating input:checked::before {
    color: #0d6efd;
}

.nav-tabs {
    border-bottom: 2px solid #4db2ec;
}

.box-comments {
    background-color: #4db2ec!important;
    color: #fff;
}

.ul-none {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.name-member {
    font-size: 17px;
    font-weight: 500;
    word-spacing: -2px;
    text-decoration: none;
}

.border-img img {
    width: 32px;
    height: 32px;
    border-radius:50%;
    border: 1px solid transparent;
}

.border-bottom-white {
    border-bottom: 1px solid #3e4042;
}

/* end child1 */